body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 30px;
}

h1 {
    text-align: center;
    color: #333;
}

.contenedor {
    max-width: 900px;
    margin: auto;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
}

.card {

    background-color: rgba(255, 255, 255, 0.92);

    backdrop-filter: blur(4px);
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    height: 120px;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
}

a:hover {
    text-decoration: underline;
}

.nueva-receta {
    display: inline-block;
    margin-bottom: 20px;
    background: #007bff;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
}

.nueva-receta:hover {
    background: #0056b3;
}

.categoria {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 20px;
    color: white;
    font-size: 14px;
}

.dulce {
    background-color: #ff69b4;
}

.salada {
    background-color: #ff9800;
}
.fondo-receta {

    background-image: url("../img/frutas.jpg");

    background-size: cover;

    background-position: center;

    background-repeat: no-repeat;

    min-height: 100vh;

    padding-top: 40px;
}

.fondo-receta .card {

    background-color: rgba(255, 255, 255, 0.92);
}
img {

    width: 100%;

    max-height: 300px;

    object-fit: cover;

    border-radius: 10px;

    margin-bottom: 15px;
}