{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>{% block titulo %}Recetario{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
</head>

<body class="fondo-receta">

<!-- NAVBAR FIJA -->
<nav class="navbar">

    <div class="navbar-contenedor">

        <!-- LOGO + DROPDOWN -->
        <div class="dropdown">

            <button class="logo-boton">
                🍴 Recetario ▼
            </button>

            <div class="dropdown-contenido">

                <a href="{% url 'lista' %}">
                    Todas las recetas
                </a>

                <a href="/?categoria=Dulce">
                    🍰 Dulces
                </a>

                <a href="/?categoria=Salada">
                    🍕 Saladas
                </a>

              

            </div>
        </div>

        <!-- MENU -->
        <div class="menu">

            {% if user.is_authenticated %}

                <a href="{% url 'lista' %}">
                    🏠 Inicio
                </a>

                <!-- 👇 SOLO EDITOR -->
                {% if user.perfil.rol == 'editor' %}

                <a href="{% url 'crear' %}">
                ➕ Nueva receta
                </a>

                <a href="{% url 'usuarios' %}">
                     👥 Usuarios
                </a>

                {% endif %}

               <span class="usuario">

                    👋 {{ user.username }}

                    {% if user.perfil.rol == 'editor' %}

                        <span class="rol editor">
                            🟢 Editor
                        </span>

                    {% else %}

                        <span class="rol lector">
                            🔵 Lector
                        </span>

                    {% endif %}

                </span>

                <form method="post"
                      action="{% url 'logout' %}"
                      class="logout-form">

                    {% csrf_token %}

                    <button type="submit">
                        🚪 Salir
                    </button>

                </form>

            {% else %}

                <a href="{% url 'login' %}">
                    🔐 Ingresar
                </a>

            {% endif %}

        </div>

    </div>

</nav>

<!-- CONTENIDO -->
<div class="contenedor">

    {% block contenido %}
    {% endblock %}

    <!-- FOOTER -->
    <footer class="footer">

        <p>🍴 Recetario Django</p>
        <p>Desarrollado por Gabriel Ortino</p>
        <p>© 2026 - Todos los derechos reservados</p>

    </footer>

</div>

</body>
</html>