{% load static %}

<!DOCTYPE html>

<html lang="es">

<head>

    <meta charset="UTF-8">

    <title>Nueva Receta</title>

    <link rel="stylesheet"
          href="{% static 'css/estilos.css' %}">

</head>

<body class="fondo-receta">

<div class="contenedor">

    <div class="card">

        <h1>Nueva Receta</h1>

        <form method="POST"
              enctype="multipart/form-data">

            {% csrf_token %}

            <label>Título</label>

            <input type="text"
                   name="titulo"
                   placeholder="Título">

            <br><br>

            <label>Categoría</label>

            <select name="categoria">

                <option value="Dulce">
                    Dulce
                </option>

                <option value="Salada">
                    Salada
                </option>

            </select>

            <br><br>

            <label>Ingredientes</label>

            <textarea name="ingredientes"
                      placeholder="Ingredientes"></textarea>

            <br><br>

            <label>Preparación</label>

            <textarea name="preparacion"
                      placeholder="Preparación"></textarea>

            <br><br>

            <label>Imagen</label>

            <input type="file"
                   name="imagen">

            <br><br>

            <button type="submit">
                Guardar
            </button>

        </form>

        <br>

        <a href="{% url 'lista' %}">
            Volver
        </a>

    </div>

</div>

</body>
</html>