{% extends 'base.html' %}

{% block titulo %}
Recetario
{% endblock %}

{% block contenido %}

    <h1>🍴 Recetas de Cocina</h1>

{% if user.is_authenticated and user.perfil.rol == 'editor' %}

    <a href="{% url 'crear' %}"
       class="nueva-receta">

        ➕ Nueva receta

    </a>

    <br><br>

{% endif %}

    <br><br>

    {% for receta in recetas %}

        <div class="card">

            {% if receta.imagen %}

                <img src="{{ receta.imagen.url }}"
                     alt="{{ receta.titulo }}">

                <br><br>

            {% endif %}

            <!-- 🎬 VIDEO DESPLEGABLE -->
            {% if receta.video %}

                <details class="video-box">

                    <summary class="video-title">
                        🎬 Ver video
                    </summary>

                    <video class="video-mini" controls>

                        <source src="{{ receta.video.url }}">

                        Tu navegador no soporta video.

                    </video>

                </details>

                <br><br>

            {% endif %}

            <h2>{{ receta.titulo }}</h2>

            {% if receta.categoria == 'Dulce' %}

                <span class="categoria dulce">
                    {{ receta.categoria }}
                </span>

            {% else %}

                <span class="categoria salada">
                    {{ receta.categoria }}
                </span>

            {% endif %}

            <h3>Ingredientes</h3>

            <p>{{ receta.ingredientes }}</p>

            <h3>Preparación</h3>

            <p>{{ receta.preparacion }}</p>

            <br>

            {% if user.perfil.rol == 'editor' %}

            <a href="/editar/{{ receta.id }}/">
                  ✏️ Editar
            </a>

            &nbsp;

            <a href="/eliminar/{{ receta.id }}/">
                 🗑️ Eliminar
            </a>

            {% endif %}

        </div>

    {% empty %}

        <div class="card">

            <h2>No hay recetas todavía</h2>

            <p>
                Creá tu primera receta 🍳
            </p>

        </div>

    {% endfor %}

{% endblock %}